@media (min-width: 320px){
    .section{
        display:flex;
        flex-direction: column;
        padding-top: 60px;
        text-align: center;
        margin-left: 10px;
    }
    .section img{
        width: 280px;
        margin: auto;
    }
    .Textsection{
        text-align: left;
        padding-top: 20px;
        margin-top: 20px;
        margin-left: 10px;
        background-color:white;
        padding-left: 20px;
    }
    .Textsection h1{
        font-size: 2em;
        font-weight: 100;
        
    }
    .Textsection p{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

}
@media (min-width: 375px){
    .section img{
        width: 300px;
        margin: auto;
    }
}
@media (min-width: 425px){
    .section img{
        width: 350px;
    }
}
@media (min-width: 768px){}
@media (min-width: 1024px){
    .section{
        display:flex;
        flex-direction: row;
        padding-top: 60px;
        text-align: center;
        margin-left: 100px;
    }
    .section img{
        width: 700px;
    }
    .Textsection{
        text-align: left;
        width: 500px;
        padding-top: 200px;
        margin-top: 50px;
        margin-left: -150px;
        background-color:white;
        padding-left: 20px;
    }
}
@media (min-width: 1200px){}



